extends layout

block content
  h1= title
  form(action="" method="POST" autocomplete="off")
    - cargos.sort()
    for cargo in cargos 
      .cargoForm
        label= cargo.nombre
        select(placeholder="Politico" name="nombramiento")
            option(disabled selected) Seleccionar politico
            for politico in politicos 
                option(value=(cargo._id + ";" + politico._id)) #{politico.name}
    button(action="submit") Sumbit

    if errors
        ul 
            for error in errors 
                li= error.msg

  a(href="/") Vover