extends layout

block content
  h1= title
  p La política argentina pasa por su peor momento, elegí tu propio GABINETE y compartilo al mundo.

  .options
    .cuadro
      h2 Ver
      ul 
        li 
          a(href="/politicos") Políticos 
        li 
          a(href="/cargos") Cargos 
        li 
          a(href="/gabinetes") Gabinetes 
    
    .cuadro
      h2 Crear
      ul
        li 
          a(href="/politicos/nuevo") Político 
        li 
          a(href="/cargos/nuevo") Cargo 
        li 
          a(href="/gabinetes/nuevo") Gabinete

  h2 Últimos gabinentes creados
  each gab in data 
    .gabinete
      - nombramientos = gab.nombramientos.sort((a,b) => a.cargo.rank - b.cargo.rank)
      each nombramiento in nombramientos
        .tile
          p= nombramiento.cargo.nombre
          img(src=nombramiento.politico.image_url)
          p= nombramiento.politico.name
    

        

