doctype html
html
  head
    link(rel="icon", href="/images/icon.png")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .content
      block content
    footer 
      p 
        a(href="https://yagopajarino.com.ar") Yago Pajariño
        |  | #{new Date().getFullYear()} | 
        a(href="https://github.com/yagopajarino/top-ETPG")
          img(src="/images/github.svg", alt="" style="width: 1rem; height: 1rem;")