doctype html
html
  head
    link(rel="icon", href="/images/icon.png")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer 
      p 
        a(href="https://yagopajarino.com.ar") Yago Pajariño
        |  | #{new Date().getFullYear()}
