extends layout

block content
  h1= title
  .politicos
    for politico in data 
      .tile
        a(href="/politicos/" + politico._id)
          img(src=politico.image_url)
          span= politico.name
  
  ul(style="list-style-type: none")
    li
      a(href="/politicos/nuevo") Nuevo político
    li
      a(href="/") Volver a inicio 
  
  