@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  font-size: 15px;
  padding: 2rem 10%;
}

a {
  color: #955f0e;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1rem;
  transition: color 0.25s ease, background-color 0.25s ease;;
}

p {
  font-size: 1rem;
}

a:hover {
  background-color: #955f0e;
  color: #ffffff;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 50%;
}

.gabinete {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;
  overflow: scroll;
  margin: 1rem 0;
}

.tile {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 0 2rem;
  align-items: center;
  border-right: 1px solid #cccccc;
}

.wrap {
  flex-wrap: wrap;
}

.tile a {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.gabinete:last-child {
  border-right: none
}

.gabinete::-webkit-scrollbar {
  display: none;
}

.gabinete {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.politicos {
  display: flex;
  background-color: #ededed;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

li {
  margin: 0.5rem 0;
}

.options {
  background-color: #dadada40;
  border: 1px solid #93939340;
}

.cuadro {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 1rem;
}

.options div:first-child {
  border-bottom: 1px solid #93939340;
}

.cuadro ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.cuadro li {
  margin: 0 1rem;
}

footer {
  margin: 1rem 0 ;
  width: -webkit-fill-available;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: #555555;
  padding: 0;
}

footer a:hover {
  background-color: inherit;
  color: #955f0e;
}

form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

form input, form textarea, form select, form label {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: inherit;
}

form > *:focus-visible {
  outline-color: inherit;
}

/* CSS */
button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}